@use '../../styles/_colors.scss' as colors;
@use '../../styles/_breakpoints.scss' as breakpoints;
@use '../../styles/_mixins.scss' as mixins;

.about {
	max-width: 600px;
	margin: auto;
}
li {
	margin: 16px 0;
}
.external-link {
	color: #78a4f9 !important;
	text-decoration: underline;
	font-weight: 300;
}
