@use '../../styles/_colors' as colors;
@use '../../styles/_breakpoints' as breakpoints;
@use '../../styles/_mixins-nav' as nav-mixins;
@use '../../styles/_animations';
@use '../../styles/_transitions' as transitions;

.search-menu {
	text-align: center;
	font-size: 16px;
	background-image: colors.$primary-gradient-dark;
	padding: 24px 0;
	width: 100%;
	position: fixed;
	left: 0px;
	bottom: -100%;
	z-index: 16;
	margin-top: 50px;
	@media (min-width: breakpoints.$breakpoint-tablet) {
		bottom: 0px;
		left: unset;
		height: 325px;
		margin: 0;
		right: -100%;
		width: 400px;
	}
	&-border {
		@include nav-mixins.nav-border;
		top: 0;
	}
	&-open {
		animation: 0.2s ease forwards slideUp;
		@media (min-width: breakpoints.$breakpoint-tablet) {
			animation: 0.2s ease forwards slideOut;
		}
	}
}

.reset-search-button {
	border: none;
	outline: none;
	background: transparent;
	margin: auto;
	display: block;
	font-size: 0.75rem;
	color: colors.$off-white;
	transition: transitions.$medium-transition-ease;
	&:hover {
		color: colors.$yellow;
	}
}

form {
	display: flex;
	flex-flow: column;
	align-items: center;
	max-width: 260px;
	margin: auto;
	@media (min-width: breakpoints.$breakpoint-tablet-large) {
		margin-top: 0;
	}
}

.form-input {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	margin: 12px 0;
	justify-content: space-between;
	align-items: flex-end;
	input {
		border-radius: 0;
		width: 150px;
		height: 40px;
		text-align: center;
		outline: none;
		border: none;
		border-bottom: 2px solid colors.$off-white;
		background-color: transparent;
	}
	input[type='date']::-webkit-calendar-picker-indicator {
		filter: invert(1);
		margin: 0;
		opacity: 0.5;
	}
}

label {
	vertical-align: bottom;
}
.text-color-default {
	color: #696969;
}

.text-color-blur {
	color: colors.$off-white;
}
