$nav-gradient: linear-gradient(to left, #7f67af, #204684);
$primary-gradient-slant: linear-gradient(190deg, #452d54, #1a315e);
$primary-gradient-light: linear-gradient(
	225deg,
	lighten(#452d54, 20%),
	lighten(#1a315e, 20%)
);
$primary-gradient-dark: linear-gradient(40deg, #191919, #2f1f39);
$off-black-gradient: linear-gradient(40deg, #1d1d1d, #282828);
$off-black: #191919;
$off-white: #eae7e2;
$purple: #9574d7;
$amber: #c28a2b;
$yellow: #dfb260;
$dark-purple: #2f1f39;
$slate: #1d1d1d;
$light-slate: #6b6b6b;

// Shadow
$drop-shadow: drop-shadow(-35px 30px 40px rgba(0, 0, 0, 0.6));
$drop-shadow-light: drop-shadow(-45px 30px 30px rgba(0, 0, 0, 0.4));
$box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
