@use './_breakpoints.scss' as breakpoints;
@use './_colors.scss' as colors;
@use './_animations';

@mixin page-title {
	opacity: 0;
	letter-spacing: 2px;
	width: 100%;
	text-align: center;
	margin: 40px 0;
	animation: 1s forwards ease fadeIn;
	@media (min-width: breakpoints.$breakpoint-tablet) {
		animation: 1s forwards ease textReveal;
	}
}

@mixin page-image {
	position: relative;
	z-index: 7;
	display: block;
	margin: 20px 0 8px -24px;
	width: 100vw;
	opacity: 0;
	height: fit-content;
	animation: 1s forwards ease fadeIn;
	@media (min-width: breakpoints.$breakpoint-tablet-large) {
		width: 100%;
		margin: auto;
		margin: 20px auto 8px;
	}
}

@mixin page-video {
	position: relative;
	z-index: 7;
	display: block;
	margin: 20px 0 8px -24px;
	width: 100vw;
	opacity: 0;
	animation: 2s forwards ease fadeIn;
	height: 300px;
	border: none;
	@media (min-width: breakpoints.$breakpoint-tablet-large) {
		width: 100%;
		margin: 20px auto 8px;
	}
}

@mixin nav-border {
	width: 100%;
	height: 2px;
	background-image: colors.$nav-gradient;
	position: absolute;
	opacity: 1;
	&-fade {
		transition: all 0.3s ease-out;
		opacity: 0;
	}
}

@mixin logo {
	&-mark {
		display: inline-block;
		font-weight: 500;
		line-height: 1;
		padding: 2px 3px;
		margin-right: 2px;
	}
	&-text {
		display: inline-block;
		font-weight: 300;
		color: colors.$off-white;
	}
}
