$fast-transition-ease-in: all 0.1s ease;
$medium-transition-ease: all 0.2s ease;
$slow-transition-ease: all 0.4s ease;
$slower-transition-ease: all 0.5s ease;
$slowest-transition-ease: all 1s ease;
$medium-transition-ease-out: all 0.2s ease-out;
