@import '../../styles/_colors.scss';
@import '../../styles/_breakpoints';

.page-shadow {
	position: fixed;
	display: block;
	z-index: 1;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	pointer-events: none;
	transition: all 0.2s ease-in;
	&.fade-in {
		background-color: rgba(0, 0, 0, 0.5);
		pointer-events: all;
	}
}
