@use '../../styles/_colors.scss' as colors;
@use '../../styles/_breakpoints' as breakpoints;
@use '../../styles/_mixins-nav.scss' as nav-mixins;
@use '../../styles/_transitions' as transitions;

.mobile-menu {
	display: block;
	@media (min-width: breakpoints.$breakpoint-tablet) {
		display: none;
	}
	background-image: colors.$primary-gradient-dark;
	padding: 24px 0;
	width: 100%;
	position: fixed;
	left: 0px;
	top: -100%;
	z-index: 9;
	transition: transitions.$medium-transition-ease-out;
	margin-top: 50px;
	&-border {
		@include nav-mixins.nav-border;
		bottom: 0;
	}
	&-open {
		animation: 0.2s ease forwards slideDown;
	}
	&-links {
		display: flex;
		flex-direction: column;
		align-items: center;
		a {
			font-size: 16px;
			font-weight: 400;
			color: colors.$off-white;
			text-decoration: none;
			padding: 20px;
			&:hover {
				transition: transitions.$fast-transition-ease-in;
				color: colors.$yellow;
			}
		}
	}
	.mobile-menu-search-button {
		border-radius: 3px;
		background: colors.$primary-gradient-light;
		padding: 0 8px;
		color: colors.$off-white;
		padding: 4px 32px;
		font-size: 16px;
		border: none;
		margin: 16px 0;
		box-shadow: colors.$box-shadow;
	}
}
