@import '../../styles/_colors.scss';
@import '../../styles/_breakpoints';

.navBar {
	width: 100%;
	margin: auto;
	background-color: $off-black;
	height: 50px;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 3;
	color: $off-white;
	&-logo {
		max-width: 90px;
		margin-left: 12px;
		&-fixed {
			position: fixed;
			left: 0;
			top: 13px;
		}
	}
	a {
		line-height: 0;
	}
	&-icons {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: right;
		position: absolute;
		right: 0;
		height: 100%;
	}
}

.mobileNav {
	height: 50px;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 1;
}

.nav-border {
	width: 100%;
	height: 2px;
	// background-color: red;
	background-image: $nav-gradient;
	position: absolute;
	bottom: 0;
	opacity: 1;
	&-fade {
		transition: all 0.2s ease-out;
		opacity: 0;
	}
}

.search-icon {
	padding: 10px 12px;
	height: 100%;
	display: flex;
	align-items: center;
	background-color: transparent;
	position: absolute;
	right: 50px;
	&-img {
		display: block;
		width: 25px;
		height: 25px;
	}
	&:active {
		background-color: $charcoal;
	}
}

.menu-button {
	outline: none;
	border: none;
	background-color: transparent;
	padding: 10px 12px;
	height: 100%;
	position: absolute;
	right: 0;
	// height: auto;
	// top: 0;
	z-index: 3;
	&-open {
		background-color: $charcoal;
	}

	@media (min-width: $breakpoint-tablet) {
		display: none;
	}
	&-bars {
		pointer-events: none;
		background-color: $off-white;
		width: 35px;
		height: 2px;
		transition: all 0.1s ease-in;
		position: relative;
		&:nth-child(2) {
			margin: 6px 0;
		}
		&:nth-child(4) {
			position: absolute;
			top: 50%;
			bottom: 50%;
			transform: translate(0%, -50%);
		}
	}
	&-fixed {
		position: fixed;
		right: 0;
	}
}

.open-menu {
	&:nth-of-type(odd) {
		opacity: 0;
	}
	&:nth-of-type(2) {
		transform: rotate(45deg);
	}
	&:nth-of-type(4) {
		transform: rotate(-45deg);
	}
}

.mobile-menu,
.search-menu {
	background-color: $charcoal;
	padding: 24px 0;
	width: 100%;
	position: fixed;
	left: 0px;
	top: -100%;
	z-index: 2;
	transition: all 0.2s ease-out;
	margin-top: 50px;
	&-links {
		display: flex;
		flex-direction: column;
		align-items: center;
		a {
			font-size: 18px;
			font-weight: 200;
			color: $off-white;
			text-decoration: none;
			padding: 20px;
			&:hover {
				transition: all 0.1s ease-in;
			}
		}
	}
}

.show {
	top: 0;
}

.page-shadow {
	position: fixed;
	display: block;
	z-index: 1;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	pointer-events: none;
	transition: all 0.2s ease-in;
	&.fade-in {
		background-color: rgba(0, 0, 0, 0.5);
		pointer-events: all;
	}
}

.desktop-menu-links {
	justify-content: space-between;
	align-items: center;
	width: 325px;
	display: none;
	margin-right: 24px;
	@media (min-width: $breakpoint-tablet) {
		display: flex;
		a {
			font-size: 16px;
			text-decoration: none;
			color: $off-white;
			position: relative;
			&:hover,
			&:active {
				transition: all 0.1s ease-in;
				text-decoration: double;
			}
		}
	}
	#styled-link-desktop {
		margin: 0;
		color: $off-white;
		width: 125px;
		height: 45px;
	}
}
