@use '../../styles/_colors.scss' as colors;
@use '../../styles/_breakpoints' as breakpoints;
@use '../../components/button/Button.scss';

.developer {
	margin: 40px 0;
	display: flex;
	justify-content: center;
	flex-direction: column-reverse;
	@media (min-width: breakpoints.$breakpoint-tablet-large) {
		margin: 40px auto;
		flex-direction: row;
	}
	&-img {
		max-width: 400px;
		width: 100%;
		height: max-content;
		display: block;
		margin: 0 auto 40px;
		@media (min-width: breakpoints.$breakpoint-tablet-large) {
			width: 400px;
			margin: 0;
		}
	}
	&-text {
		text-align: left;
		max-width: 600px;
		margin: auto;
		h1 {
			margin: 0 0 16px 0;
			text-align: center;
			@media (min-width: breakpoints.$breakpoint-tablet-large) {
				text-align: left;
			}
		}
		h2 {
			color: colors.$purple;
			font-weight: 400;
			text-align: center;
			@media (min-width: breakpoints.$breakpoint-tablet-large) {
				text-align: left;
			}
		}
	}
}
