@use '../../styles/_colors.scss' as colors;
@use '../../styles/_breakpoints.scss' as breakpoints;
@use '../../styles/_mixins.scss' as mixins;

.footer {
	margin-bottom: 50px;
	background-image: colors.$primary-gradient-slant;
	padding: 50px 24px 30px;
	color: colors.$off-white;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100vw;
	z-index: 7;
	height: 375px;
	@media (min-width: breakpoints.$breakpoint-tablet-large) {
		margin-bottom: 0;
	}
	&-logo {
		@include mixins.logo;
		font-size: 32px;
		display: flex;
		justify-content: center;
		&-mark-transparent {
			background-color: colors.$off-white;
			width: 40px;
			margin-right: 3px;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			.footer-logo-mark {
				display: block;
				background: -webkit-linear-gradient(#452d54, #1a315e);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				font-weight: 500;
				line-height: 1.2;
				margin-right: 0;
			}
		}
	}
	&-socials {
		display: flex;
		max-width: 400px;
		justify-content: space-between;
		margin: 60px auto;
	}
	&-footnote {
		font-size: smaller;
		font-weight: 300;
	}
}
