@use '../../styles/_breakpoints.scss' as breakpoints;
@use '../../styles/_animations.scss';
@use '../button/iconButton/IconButton.scss';

.theater {
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	backdrop-filter: blur(5px) brightness(0.2);
	z-index: 30;
	animation: 0.5s forwards ease-in fadeIn;
	&-image {
		max-width: 100%;
		height: 100vh;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
	&-video {
		width: 100%;
		transform: translate(-50%, -50%);
		position: absolute;
		top: 50%;
		left: 50%;
		border: none;
		@media (min-width: breakpoints.$breakpoint-tablet) {
			height: inherit;
		}
	}
	&-exit {
		@extend .icon-button;
		display: block;
		position: absolute;
		background-position: center;
		background-size: 30px 30px;
		z-index: 1;
		opacity: 1;
		right: 0;
		top: 20px;
		@media (min-width: breakpoints.$breakpoint-tablet) {
			right: 20px;
		}
		background-image: url('https://res.cloudinary.com/obkidz/image/upload/v1636406413/icons/Icon-close_fhuuan.png');
		&:hover {
			background-image: url('https://res.cloudinary.com/obkidz/image/upload/v1636406413/icons/Icon-close-hover_aewreh.png');
		}
	}
}
